<div class="contact-page padding-section" id="contact-us-section">
<div class="contact-page-positioning"> 
    <div>
        <p class="contact-page-title text-start">Contact us</p>
        <p class="contact-page-description">
            We value your feedback, inquiries, and partnership opportunities. 
            Please don't hesitate to reach out to us using the contact information 
            provided below.
        </p>
    </div>
</div>
<div class="vertical-center horizontal-start">
    <form>
    <div class="form-flex">
        <div class="form-field">
        <label for="name">Name:</label>
        <input type="text" id="name" name="name" placeholder="Enter your name" required>
        </div>
        <div class="form-field">
        <label for="email">Email:</label>
        <input type="email" id="email" name="email" placeholder="Enter your email" required>
        </div>
    </div>
    <div class="form-field">
        <label for="message">Message:</label>
        <textarea id="message" name="message" placeholder="Enter your message" required></textarea>
    </div>
    <div class="form-actions">
        <button type="submit">Submit</button>
    </div>
    </form>
</div>
</div>