<div class="demo-page padding-section" id="demo-section">
    <p class="demo-title text-center">
      Telehealth In Action!
    </p>          
    <div class="horizontal-center">
        <div class="demo-grid">
            <div>
            <img src="/images/softwares-images/Demo1.png" alt="Home screen"/>
            </div>
            <div>
            <img src="/images/softwares-images/Demo2.png" alt="Dashboard"/>
            </div>
            <div>
            <img src="/images/softwares-images/Demo3.png" alt="Product Page"/>
            </div>
        </div>
    </div>
</div>