<div class="key-benefit-hero-banner padding-section" id="key-benefit-section">
    <div class="key-benefit-items"> 
        <div>
        <span class="key-benefit-hero-description">Design for convenience</span>
        <p class="key-benefit-hero-title text-start">
            Upgrade Your Hospital with Out Virtual Consultation
        </p>
        </div>
    </div>        
    <div class="key-benefit-items"> 
        <div class="key-benefit-hero-description">
        <p><span class="blue-tick">✓</span> Convenient: Remote teleconsultations with licensed GPs reduce facility burden. Offer patients convenient, on-demand care from anywhere with our service.</p>
        <p><span class="blue-tick">✓</span> Affordable: Reduce medical costs and increase revenue with our cost-effective teleconsultation service for your hospital.</p>
        <p><span class="blue-tick">✓</span> Secure: Ensure PDPA-compliant, end-to-end encrypted teleconsultation for your hospital's secure and private medical care.</p>
        <p><span class="blue-tick">✓</span> Reliable: Our licensed General Practitioners provide reliable medical care and accurate treatment recommendations to your patients. Partner with us for experienced professionals you can trust.</p>
        </div>
    </div>
</div>