<div class="review-banner padding-section" id="eview-section">
    <div class="vertical-center horizontal-center">
        <img src="/images/softwares-images/tele_consult_platform/teleconsult-dashboard.png" alt="Tele-consult Image" class="teleconsult-dashboard-image">
    </div>
    <div class="review-positioning"> 
        <div>
            <img src="/images/softwares-images/quotation.png" alt="quotation" class="quotation"/>
            <p class="review-hero-title text-start">Effortless online doctor consultations with same-day prescription delivery. Exceptional personalised customer care. Perfect for hospital owners.</p>
            <p class="review-hero-description">
            <span class="description-bold">John Doe</span>
            <br />
            Skin Specialist Doctor
            </p>
            <button class="review-button" onclick=scrollToContactUs()>Contact Us</button>
        </div>
    </div>     
</div>