<div class="software-hero-banner padding-section" id="software-section">
    <div class="software-positioning"> 
        <div>
        <p class="software-hero-title text-start">Tele-consult Platform</p>
        <p class="software-hero-description">
            Instant medical advice from certified physicians - anytime, anywhere. 
            Say goodbye to long waiting times and book your 
            online doctor consultation now!
        </p>
        <div class="banner-buttons">
            <button class="try-now-btn" onclick=scrollToContactUs()>Contact Us</button>
            <button class="view-demo-btn">View Demo</button>
        </div>
        </div>
    </div>
    <div class="vertical-center horizontal-center">
        <img src="/images/softwares-images/Tele-consult Platform.jpg" alt="Tele-consult Image" class="Tele-consult-image">
    </div>
</div>