<div class="software-hero-banner padding-section" id="software-section">
    <div class="software-positioning"> 
        <div>
        <p class="software-hero-title text-start">
            <%= lib.lang.en.softwares[urlValue].software_title %>
        </p>
        <p class="software-hero-description">
            <%= lib.lang.en.softwares[urlValue].software_description %>
        </p>
        <div class="banner-buttons">
            <button class="try-now-btn" onclick=scrollToContactUs()>Contact Us</button>
            <button class="view-demo-btn">View Demo</button>
        </div>
        </div>
    </div>
    <div class="vertical-center horizontal-center">
        <img src="/images/softwares-images/tele_consult_platform/Tele-consult Platform.jpg" alt="Tele-consult Image" class="Tele-consult-image">
    </div>
</div>