<footer class="section bg-blue-1 slide-disable t-05-ease sr">
    <div class="wrap-1 pad">
        <div class="footer flex-box desc gap-1 jc-sb cen centralized">
        <div class="fb-30"> <img class="mb-1" style="width: 6em; filter: brightness(100)" src="/images/main-images/doc-logo.png" alt="">
            <p>DoctorOnCall is Malaysia's most complete digital healthcare platform to access clinics, pharmacies, hospitals and health laboratories online. DoctorOnCall provides online doctor and specialist consultation via video-call, voice-call, chat, e-pharmacy, health screening, vaccinations, health tests, health forum and health content.</p>
        </div>
        <div>
            <h2>Our Services</h2>
            <p class="decoration-none"><a href="/medicine">Order Medicine</a> <a href="/online-doctor">Consult A Doctor</a> <a href="/find-doctor/kuala-lumpur/hospitals">Search Hospitals</a> <a href="/medicine/umrah-hajj-vaccination-packages">Umrah &amp; Hajj Vaccination</a> <a href="/find-doctor">Book Appointment</a> <a href="/health-screening">Health Screening</a> <a href="/promos">Promotions</a> <a href="/medicine/account">Rewards</a> <a href="/find-doctor/vaccination-services">Vaccine Services</a> <a href="/tanya/en">Ask A Question</a></p>
        </div>
        <div>
            <h2>Health Content</h2>
            <p class="decoration-none"><a href="/health-centre">Health Centre</a> <a href="/tanya/en">Health Forum</a> <a href="/penyakit-a-z">Health Articles</a></p>
            <h2>COVID-19 Services</h2>
            <p class="decoration-none"><a href="/medicine/coronavirus-covid-19-test-kit">COVID-19 Testing</a> <a href="/medicine/covid-19-vaccine">COVID-19 Vaccine</a> <a href="/coronavirus?lang=en">COVID-19 Portal</a> <a href="/medicine/coronavirus-covid-19-test-kit/on-site-office-factory-testing-service">Bulk On-Site Testing</a> <a href="/medicine/coronavirus-covid-19-test-kit/on-site-office-factory-testing-service">Bulk On-Site Vaccine</a></p>
        </div>
        <div>
            <h2>DoctorOnCall</h2>
            <p class="decoration-none"><a href="/contact-us">Contact Us</a> <a href="/about-us">About Us</a> <a href="/privacyPolicy">Privacy</a> <a href="/help">FAQ</a> <a href="/termsOfService">Terms of Use</a> <a href="/doctor#/signin">Doctors Login</a> <a href="/media">Media</a> <a href="/medicine/dispensation-policy">Dispensation Policy</a> <a href="/careers">Careers</a> <a href="/corporate-partnership">Corporate Partners</a></p>
        </div>
        <div>
            <h2>DOC Network</h2>
            <p class="decoration-none"><a href="https://www.doctoroncall.com">DoctorOnCall Global </a><a href="https://www.doctoroncall.com">DoctorOnCall Marketplace </a><a href="https://www.doctoroncall.com/marketplace">DoctorOnCall B2B </a><a href="/healthcare-ai">DoctorOnCall AI </a><a href="/">DoctorOnCall Indonesia </a><a href="/corporate">Corporate Service</a></p>
            <div class="r-500">
            <h2>Follow Us</h2>
            <div class="socmed flex-box col5"> <a href="#" target="_blank"><img src="images/main-images/socmed-fb.svg" alt /></a> <a href="#" target="_blank"><img src="images/main-images/socmed-ig.svg" alt /></a> <a href="#" target="_blank"><img src="images/main-images/socmed-tw.svg" alt /></a> <a href="#" target="_blank"><img src="images/main-images/socmed-yt.svg" alt /></a> <a href="#" target="_blank"><img src="images/main-images/socmed-in.svg" alt /></a> </div>
            </div>
        </div>
        <div class="dn a-500 mt-1">
            <h2 class="ta-c">Follow Us</h2>
            <div class="socmed flex-box col5 centralized" style="max-width: 20em"> <a href="#" target="_blank"><img src="images/main-images/socmed-fb.svg" alt /></a> <a href="#" target="_blank"><img src="images/main-images/socmed-ig.svg" alt /></a> <a href="#" target="_blank"><img src="images/main-images/socmed-tw.svg" alt /></a> <a href="#" target="_blank"><img src="images/main-images/socmed-yt.svg" alt /></a> <a href="#" target="_blank"><img src="images/main-images/socmed-in.svg" alt /></a> </div>
        </div>
        </div>
    </div>
</footer>
<div class="copyright bg-white pt-05 pb-05 r-767 slide-disable t-05-ease sr">
    <div class="wrap-1 pad flex-box col2">
        <p class="mb-0" style="font-family: 'Oswald', sans-serif;">Copyright © 2022</p>
        <p class="mb-0 ta-r" style="font-family: 'Oswald', sans-serif;">Privacy Policy | Terms of Use</p>
    </div>
</div>