# Node.js
node_modules/

# IDEs and editors
.vscode/
.idea/

# Logs and debug files
logs/
*.log
npm-debug.log*

# Environment variables
.env

# Dependency lock files
package-lock.json
yarn.lock

# Mac OS
.DS_Store

# EJS cache files
views/**/*.ejs.cache