<div class="partners-section padding-section">
    <p class="partners-section-title text-center">Industry <span class="light-blue-title">Partners</span></p>
    <div class="horizontal-center">
    <div class="partners-group text-center">
        <div class="first-partners-row">
        <div class="partners-row"><img src="../images/main-images/Asset 18.png" alt="CONSTANT Image"></div>            
        <div class="partners-row"><img src="../images/main-images/Asset 19.png" alt="Abbott Image"></div>
        <div class="partners-row"><img src="../images/main-images/Asset 20.png" alt="Pharmaniage Image"></div>
        <div class="partners-row"><img src="../images/main-images/Asset 21.png" alt="DKSH"></div>
        <div class="partners-row"><img src="../images/main-images/Asset 22.png" alt="Pfizer Image"></div>
        <div class="partners-row"><img src="../images/main-images/Asset 23.png" alt="Takeda Image"></div>
        </div>
        <div class="second-partners-row">
        <div class="partners-row"><img src="../images/main-images/Asset 24.png" alt="MEDICOS Image"></div>
        <div class="partners-row"><img src="../images/main-images/Asset 25.png" alt="GreenPharm Image"></div>
        <div class="partners-row"><img src="../images/main-images/Asset 26.png" alt="LifeTree Image"></div>
        <div class="partners-row"><img src="../images/main-images/Asset 27.png" alt="IHB Image"></div>
        <div class="partners-row"><img src="../images/main-images/Asset 28.png" alt="GKB Image"></div>
        <div class="partners-row"><img src="../images/main-images/Asset 29.png" alt="Relove Image"></div>
        <div class="partners-row"><img src="../images/main-images/Asset 30.png" alt="Lifefactor Image"></div>
        </div>
        <div class="third-partners-row">
        <div class="partners-row"><img src="../images/main-images/Asset 31.png" alt="TrueBioScience Image"></div>
        <div class="partners-row"><img src="../images/main-images/Asset 32.png" alt="LifeTree Image"></div>
        <div class="partners-row"><img src="../images/main-images/Asset 33.png" alt="SummerInsightConcept Image"></div>
        <div class="partners-row"><img src="../images/main-images/Asset 34.png" alt="ZuellingPharma Image"></div>
        <div class="partners-row"><img src="../images/main-images/Asset 35.png" alt="Neutrovis Image"></div>    
        </div>          
    </div>
    </div>
</div>