<div class="primary-hero-banner padding-section">
    <div class="primary-hero-content">
        <p class="primary-hero-title">Step into the future of digital healthcare with our solutions</p>
        <p class="primary-hero-description">We strive to deliver <strong>better, faster and more accessible</strong> healthcare in this digital era.</p>
        <button class="learn-more-btn" onclick=scrollToExploreSection()>Learn more</button>
    </div>
</div>