<div class="secondary-hero-banner" id="explore-section">
    <div class="vertical-end horizontal-start">
        <img src="../images/main-images/Asset 3.jpg" alt="Nurse" class="nurse-image">
    </div>
    <div class="secondary-positioning"> 
        <div>
        <p class="secondary-hero-title text-start">
            Explore Our
            <br />
            <span class="secondary-colored-title">Healthcare Solution</span>
        </p>
        <p class="secondary-hero-description">Discover the right solution that best suits your business needs.</p>
        </div>      
    </div>  
</div>