<div class="service-section padding-section">
    <p class="service-section-title text-center">Our <span class="light-blue-title">Service</span> Offerings</p>
    <div class="horizontal-center">
    <div class="service-card-group">

        <a class="service-card" href="/tele_consult_platform" target="_blank">
            <div>
                <img src="../images/main-images/Asset 8.jpg" class="service-card-image" alt="Telehealth Platform Image">          
                <p class="service-card-title">Telehealth Platform</p>
                <p class="service-card-description"> <span class="description-bold">Remote</span> consultations and appointments</p>
            </div>
            <div class="service-card-learn-more">
                <span>Learn More</span>
                <img src="../images/main-images/arrowIcon.jpg" class="arrow-icon"/>
            </div>
        </a>

        <a class="service-card" href="/b2c_b2b_marketplace" target="_blank">
            <div>
                <img src="../images/main-images/Asset 9.jpg" class="service-card-image" alt="B2B and B2C Marketplace Image">
                <p class="service-card-title">B2B and B2C Marketplace</p>
                <p class="service-card-description"><span class="description-bold">Search and compare</span> products and services</p>
            </div>
            <div class="service-card-learn-more">
                <span>Learn More</span>
                <img src="../images/main-images/arrowIcon.jpg" class="arrow-icon"/>
            </div>
        </a>

        <a class="service-card" href="/online_pharmacy" target="_blank">
            <div>
                <img src="../images/main-images/Asset 10.jpg" class="service-card-image" alt="Online Pharmacy Image">
                <p class="service-card-title">Online Pharmacy</p>
                <p class="service-card-description">Convenient<span class="description-bold"> prescription orders, refills and delivery</span></p>
            </div>
            <div class="service-card-learn-more">
                <span>Learn More</span>
                <img src="../images/main-images/arrowIcon.jpg" class="arrow-icon"/>
            </div>
        </a>

        <a class="service-card" href="/super_mobile_app" target="_blank">          
            <div>
                <img src="../images/main-images/Asset 11.jpg" class="service-card-image" alt="Mobile App Image">
                <p class="service-card-title">Mobile App</p>
                <p class="service-card-description">For <span class="description-bold">easy, on-the-go</span> health management</p>
            </div>
            <div class="service-card-learn-more">
                <span>Learn More</span>
                <img src="../images/main-images/arrowIcon.jpg" class="arrow-icon"/>
            </div>
        </a>

        <a class="service-card" href="/customer_experience_management" target="_blank">          
            <div>
                <img src="../images/main-images/Asset 12.jpg" class="service-card-image" alt="Customer Experience Management Image">
                <p class="service-card-title">Customer Experience Management (CEM)</p>
                <p class="service-card-description"><span class="description-bold">Personalised engagement</span> across various <span class="description-bold">touchpoints</span></p>
            </div>
            <div class="service-card-learn-more">
                <span>Learn More</span>
                <img src="../images/main-images/arrowIcon.jpg" class="arrow-icon"/>
            </div>
        </a>

        <a class="service-card" href="/erp_his" target="_blank">          
            <div>
                <img src="../images/main-images/Asset 15.jpg" class="service-card-image" alt="ERP & HIS Integration Image">
                <p class="service-card-title">ERP & HIS Integration</p>
                <p class="service-card-description">Integrate your systems <span class="description-bold">seamlessly</span> with our solutions</p>
            </div>
            <div class="service-card-learn-more">
                <span>Learn More</span>
                <img src="../images/main-images/arrowIcon.jpg" class="arrow-icon"/>
            </div>
        </a>

        <a class="service-card" href="/health_centres" target="_blank">
            <div>
                <img src="../images/main-images/Asset 16.jpg" class="service-card-image" alt="Health Centres Image">
                <p class="service-card-title">Health Centres</p>
                <p class="service-card-description">Articles, games, quizzes and other <span class="description-bold">educational content</span></p>
            </div>
            <div class="service-card-learn-more">
                <span>Learn More</span>
                <img src="../images/main-images/arrowIcon.jpg" class="arrow-icon"/>
            </div>
        </a>

        <a class="service-card" href="/health_forums" target="_blank">          
            <div>
                <img src="../images/main-images/Asset 17.jpg" class="service-card-image" alt="Website Forum Image">
                <p class="service-card-title">Website Forum</p>
                <p class="service-card-description"><span class="description-bold">Connect</span> with fellow <span class="description-bold">patients</span> and healthcare <span class="service-description-bold">professionals</span></p>
            </div>
            <div class="service-card-learn-more">
                <span>Learn More</span>
                <img src="../images/main-images/arrowIcon.jpg" class="arrow-icon"/>
            </div>
        </a>

    </div>
    </div>
</div>