<div class="demo-page padding-section" id="demo-section">
    <p class="demo-title text-center">
        <%= lib.lang.en.softwares[urlValue].demo_title %>
    </p>          
    <div class="horizontal-center">
        <div class="demo-grid">
            <div>
                <img src="<%= lib.lang.en.softwares[urlValue].demo_image_one %>" alt="Home screen"/>
            </div>
            <div>
                <img src="<%= lib.lang.en.softwares[urlValue].demo_image_two %>" alt="Dashboard"/>
            </div>
            <div>
                <img src="<%= lib.lang.en.softwares[urlValue].demo_image_three %>" alt="Product Page"/>
            </div>
        </div>
    </div>
</div>